<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->


<!-- w-75: reduce el ancho del div -->
<!-- bg-primary: si no carga la imagen va un color primario -->
<div class="container w-75 bg-primary mt-5 rounded shadow">
  <div class="row align-items-stretch">
    <!-- Config RESPOSIVE: img para q salga en grande: d-none()si no hay breackpoint no salga imagen; d-lg-block: display block cuando es lg -->
    <!-- col-md-5 col-lg-5 col-xl-6: resize para q el formulario no se a50/50 en ventana sino 5-7 (5Col1, 7col2) -->
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
    
      <!-- Img de Lado izquierdo -->
      
    </div>
    <div class="col bg-white p-5 rounded-end">
      <!-- text-end: alinear el contenido al lado derecho  -->
      <div class="text-end"> 
        <img src="https://www.logodesign.net/images/nature-logo.png" width="100" alt="" srcset="">
      </div>
      <!-- pt-5 mb-5 === py-5 -->
      <h2 class="fw-bold text-center pt-3 mb-3">BIENVENIDO</h2>
      
      <!-- login -->
      <form action="#" method="post">
        <!-- mb:margin botom -->
        <div class="mb-4">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="password">
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" name="connected" class="form-check-input">
          <label for="connected" class="form-check-label">Mantenerme conectado</label>
        </div>
        <div class="mb-4">
          <!-- d-grid: hace q se expanda en todo el ancho de la seccion -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" (click)="login()">Inciar sesion</button>            
          </div>
        </div>

        <!-- my:(margin top and bottom) Maring y (arriba y abajo) -->
        <div class="my-3 text-center">
          <span><a href="#">¿Has olvidado tu contraseña?</a></span><br>
          <span>No tienes cuenta? <a href="#">Registrate</a></span>
        </div>
      </form>

      <!-- login con Redes sociales -->

      <div class="container w-100 my-5">
        <div class="row text-center">
          <div class="col-12">Iniciar sesion</div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../assets/face.png" width="32" alt="">
                </div>
                <div class="col-12 col-md-10 text-center">
                  Facebook
                </div>
              </div>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-outline-danger w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../assets/google.png" width="32" alt="">
                </div>
                <!-- Default en el div es: col-10; pero cuandos sea md col-md-12 -->
                <div class="col-12 col-md-10 text-center">
                  Google
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="login">
  <form class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" (click)="login()">Log in</button>
  </form>
</div> -->